apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: much-todo
  labels:
    app: backend
spec:
  type: NodePort
  selector:
    app: backend
  ports:
    - port: 8080
      targetPort: 8080
      protocol: TCP
      name: http
      nodePort: 30080
